<?php

$finder = PhpCsFixer\Finder::create()->in(__DIR__);

$rules = [
    '@Symfony' => true,
    'new_with_braces' => false,
    'phpdoc_inline_tag' => false,
    'concat_space' => ['spacing' => 'one'],
    'array_syntax' => ['syntax' => 'short'],
];

if (class_exists('\\PhpCsFixer\\Fixer\\ControlStructure\\YodaStyleFixer')) {
    $rules['yoda_style'] = false;
}

if (class_exists('\\PhpCsFixer\\Fixer\\Phpdoc\\PhpdocNoEmptyReturnFixer')) {
    $rules['phpdoc_no_empty_return'] = false;
}

if (class_exists('\\PhpCsFixer\\Fixer\\Phpdoc\\NoSuperfluousPhpdocTagsFixer')) {
    $rules['no_superfluous_phpdoc_tags'] = false;
}

return PhpCsFixer\Config::create()->setRules($rules)->setFinder($finder);
