<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestSize="true"
    checkForUnintentionallyCoveredCode="true"
    beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="Serviform Test Suite">
            <directory>tests/serviform/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
              <directory>tests/cases</directory>
              <directory>tests/files</directory>
              <directory>lib/views</directory>
        </blacklist>
    </filter>
</phpunit>
